body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
    
    
    ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
    }
    ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    width: 22.5%; /* this value + 2.5 should = 25% */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }
    ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
    }
    
    body{
        margin: 0 0 0 0;
    }
    .Header{
        height: 75px;
        background-color: black;
    }
    .sort{
        
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .SortDiv{
        padding-right: 15px;
        float: right;
    }
    .logo{
        width: 15%;
        vertical-align: middle;
        font-size: 50px;
        color: white;
        display: inline-block;
        font-family:'Arial';
        padding-left: 15px;
    }
    .menu{
        width: 75%;
        vertical-align: middle;
        display: inline-block;
        padding-left: 50px;
    }
    .menuItems{
        color: white;
    }
    .successMsg{
        margin-left: 15px;
        margin-top: 5px;        
        width: 35%;
        float: left;        
    }
    .failureMsg{
        margin-left: 15px;
        margin-top: 5px;        
        width: 35%;
        float: left;        
    }
    .secondHeader{
        height: 70px;
    }

    div.votesInfo input,
    div.votesInfo p{
        float: left;
        padding-right: 10px;
        padding-left: 10px;
    }

    